
.ascii-art-container{
    font-family: monospace;           /* 고정 폭 글꼴 사용 */
    font-size: 0.2rem;             /* 글꼴 크기 설정 */
    /* 줄 간격 설정 */
    white-space: pre;                 /* 줄바꿈과 공백을 그대로 유지 */
    color: lime;                      /* 텍스트 색상 (초록색) */
    background-color: black;          /* 배경 색상 (검정색) */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    overflow: hidden;                 /* 스크롤바가 생기지 않도록 설정 */
}
.ascii{
    animation: none;
    height: 50rem;
    margin: 0;
    font-size: 0.72rem; /* 기본 글자 크기 */
    line-height: 0.8; /* 글자 상하 여백 초기화 */
    letter-spacing: 0.1em;
    text-align: left;
    white-space: pre-wrap;
}


