@font-face {
    font-family: Consola;
    src: url('../fonts/unifont.otf') format('opentype');
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/unifont.otf') format('opentype');
}
@font-face {
    font-family: IBMPlexMono;
    src: url('../fonts/unifont.otf') format('opentype');
}
@font-face {
    font-family: IBMPlexMonoLight;
    src: url('../fonts/unifont.otf') format('opentype');
}
@font-face {
    font-family: 'Kode Mono';
    src: url('../fonts/unifont.otf') format('opentype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Silkscreen Bold';
    src: url('../fonts/unifont.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/unifont.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Pixelify Sans';
    src: url('../fonts/unifont.otf') format('opentype');
    font-weight: 100 900;
    font-style: normal;
}
